.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 31.25rem;
}
.example-sidenav-content {
  display: flex;
  height: 88%;
  padding: 2rem;
}

// .sidenav-item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
